* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 50px;
}

.header {
    margin-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: center;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main {
    margin-top: 100px
}

.main__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main__content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.about__features {
    width: 512px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    gap: 40px;
    border: 1px solid black;
}

.card__info {
    font-size: 36px;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 200px;
    height: 60px;

}